<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
  <appSettings>
    
    <add key="ColumnSheet0" value="5;7"/>
    <add key="ColumnSheet1" value="0;1"/>
    <add key="UserId" value="ADMIN"/>
    <add key="LanguageId" value="VI"/>
    <add key="IsAutoSave" value="Yes"/>
    <add key="IsOpen" value="Yes"/>
    <add key="Version" value="25"/>
    <add key="SaveType" value="E"/>
    <add key="FORMATDATE_IN" value="dd/MM/yyyy"/>
    <add key="FORMATDATE_OUT" value="yyyy/MM/dd"/>



    <add key="Budget_SKU" value="0"/>
    <add key="Budget_Discount" value="1"/>
    <add key="Budget_DistributorCode" value="3"/>
    <add key="Budget_BudgetValue" value="5"/>
    
    
    <add key="Budget_PromotionCodeForDiscount" value="0;1"/>
    <add key="UOM_ProductCodeAndName" value="5;6"/>
    
     <add key="Discount_DistributorCode" value="2"/>
     <add key="Discount_CustomerCode" value="4"/>
     <add key="Discount_SKU" value="6"/>
     <add key="Discount_DiscountCode" value="7"/>
    
    
     <add key="Discount_MapPromotionCodeFromBudget" value="1;3"/>


    <add key="B2BFORMATDATE_IN" value="MM/dd/yyyy"/>
    <add key="B2BFORMATDATE_OUT" value="yyyy/MM/dd"/>
    <add key="B2B_DistributorCode" value="2"/>
    <add key="B2B_DistributorName" value="3"/>
    <add key="B2B_CustomerCode" value="4"/>
    <add key="B2B_CustomerName" value="5"/>
    <add key="B2B_SKUCode" value="6"/>
    <add key="B2B_DiscountValue" value="7"/>
    <add key="B2B_BudgetValue" value="8"/>
    <add key="B2B_ColumnListCheck" value="B2B_SKUCode;B2B_DiscountValue"/>
    <add key="B2B_ColumnListCheckDuplicate" value="B2B_DistributorCode;B2B_CustomerCode;B2B_SKUCode;B2B_DiscountValue"/>
    
  </appSettings>
</configuration>
